body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: lightgray;
    box-sizing: border-box;
}
.content{
    width: 100%;
    height: 1400px;
}
h2{
    font-size: 28px;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    animation: slideInUp 2s infinite;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px #fad0c4;
}
.hero{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 35px;
    margin-top: 5%;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(255, 252, 252, 0.4), rgba(234, 239, 216, 0.8)),url('image/background\ img.jpg')no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(63, 109, 138) ;
}
.hero p{
    font-size: 18px;
}
.btn{
    width: 150px;
    height: 33px;
    padding: 5px 15px;
    background-color: darkgoldenrod;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    transition: 0.3s ease;
    border: 0;
    border: 3px solid rgb(174, 60, 93);
}
.btn:hover{
    transition: 0.5s ease-in-out;
    background-color: lightyellow;
    color: black;
}
.features{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 35px;
    margin-top: 5%;
    color: #000;
    text-align: left;
    font-size: 18px;
    background-color: darkseagreen;
    border-radius: 10px;
    box-shadow: 0 4px 8px lightslategrey ;
}
i{
  display: block;  
  font-size: 30px;           
  color: #9b6863;          
  text-align: center;        
  margin: 10px;           
}
i:hover{
    color: lightyellow;
    transition: 0.3 ease-in-out;
}
.contact{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 35px;
    margin-top: 5%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    background: radial-gradient(circle, #ff9a9e, #fad0c4);
    border-radius: 10px;
    box-shadow: 0 4px 8px lightslategrey; 
}
.contact input, textarea{
    width: 350px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 2px #c3b7b7;
}
::placeholder{
    font-size: 14px;
}
.bton{
    width: 150px;
    height: 32px;
    margin: 15px;
    border-radius: 10px;
    background-color: lightslategray;
    color: #fff;
    font-size: 17px;
    border: 0;
    border: 2px solid lightseagreen;
    cursor: pointer;
}
.bton:hover{
    background-color: darkturquoise;
}
.contact:hover{
    transform: scale(1.03);
}