body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: lightgray;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1{
    text-align: center;
    color: darkcyan;
    margin-top: 30px;
}
#content{
    width: 80%;
    height: auto;
    padding: 25px;
    background: #fff;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 3%;
}
.product{
    display: grid;
    grid-template-columns: auto auto auto;  
}
.product-card{
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    margin-left: 90px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.product-card img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: left;
}
.product-card h3{
    margin: 10px;
    color: rgb(59, 54, 54);
}
.product-card p{
    text-align: left;
    font-size: 15px;
}
.price{
    font-size: 18px;
    font-weight: bold;
    margin-top: 7px;
    }