body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: lightgray;
}
h1{
    text-align: center;
    color: darkcyan;
    animation: bounce 2s infinite;
}
.gallery{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    justify-content: center;
    gap: 20px;
    padding: 40px 0px;
    background: #fff;
}
.container{
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.4);
}
.container img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}
.container img:hover{
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    filter: brightness(1.1);
}