*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    margin-left: 30px;
    margin-top: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover{
    color: #007BFF;
}
.about-me{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    padding: 15px 20px;
    border-bottom: 1px solid #ccc;
}
.main{
   width: 40%;
}
.main h1{
    font-size: 38px;
    margin-bottom: 10px;
}
.data{
    width: 58%;
    font-family: italic;
    line-height: 2.0;
    font-size: 17px;
}
.detail{
    margin-top: 20px;
    padding: 15px 20px;
}
.main-1{
    width: 48%;
    float: left;
}
.main-1 h2, .main-2 h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.main-1 p{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}
.main-1 h2 span{
    color: #007BFF;
}
.main-2{
    width: 48%;
    float: right;
    margin-top: 5%;   
}
.main-1 h3{
    font-size: 28px;
    margin-bottom: 15px;
}
label{
    font-weight: bold;
    margin-bottom: 8px;
}