:root{
  --primary-color: #458dbd;   
  --secondary-color: #ab556f; 
  --text-color: #ffffff;  
  --background-color: #f5f5f5;
}
body{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: var(--background-color);
}
.header{
    width: 100%;
}
.header ul{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: var(--primary-color);
    justify-content:center;
    gap: calc(20%);
    margin: 0;
    padding: 10px;
}
.header ul li{
    list-style-type: none;
}
.header ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 22px;
    text-transform: capitalize;
}
.header ul li a:hover{
    color: var(--secondary-color);
}
.content{
    width: 60%;
    height: auto;
    margin:auto;
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    border: 5px solid var(--secondary-color);
    border-radius: 15px;
    transition: all 0.4s ease;
    margin-top: 5%;
}
.content h2{
   font-size: 30px;
}
.content p{
   font-size: 20px;
   margin-top: 30px;
}
.theme-btn{
    width: 150px;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.theme-btn:hover{
    background-color: var(--text-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}
footer{
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    margin-top: 18%;
    font-size: 20px;
}
