*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f2f2f2;
}
.container{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.login, .signup{
    width: 50%;
    min-width: 400px;
    height: auto;
    margin: auto;
    padding: 40px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    border: 1px solid #ddd;
}
.login h1, .signup h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}
label{
    display: block;
    margin-bottom: 10px;
    color: #555;
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button{
    width: 50%;
    padding: 10px;
    background: rgb(255, 240, 231);
    color: #000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    border-bottom: lightsalmon 4px solid;
    display: block;
    margin: 0 auto;
}
p{
    font-size: 14px;
    text-align: center;
    color: #777;
    margin-top: 10px;
}
p a{
    font-size: 16px;
}